<?xml version="1.0"?>
<configuration>
  <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="savepath" value="c:\\"/>
    <!--<add key="filename" value="热搜化学-500.xls"/>-->
    <!--<add key="filename" value="热搜__物理__500-5.xls"/>-->
    <!--<add key="filename" value="热搜数学-1000.xls"/>-->
    <!--<add key="filename" value="热搜数学-1000-2.xls"/>-->
    <!--<add key="filename" value="所有公式数据.xls"/>-->
    <!--<add key="filename" value="高中数学(必修2)(人教版A)01一章 空间几何体 (2).xls"/>-->
    <add key="filename" value="热搜__数学__1000 - (4).xls"/>
  </appSettings>
</configuration>
